* {
  box-sizing: border-box;
}

html {
  font-size: 18px;
  font-weight: 400;
  color:#000000;
  line-height: 1.5;
  font-family: 'Segoe WP N' sans-serif;
}

.wrapper {
  position: relative;
  overflow: hidden;
}

.container {
  box-sizing: content-box;
  max-width: 990px;
  margin: 0 auto;
  padding: 0 15px;
}

p, ul, ol, figure {
  margin: 0 0 10px 0;
}

* + p, * + ul, * + ol , * + figure {
  margin-top: 10px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 0.67em 0;
}

* + h1, * + h2, * + h3, * + h4, * + h5, * + h6 {
  margin-top: 0.67em;
}

a, .link {
  color: blue;
  text-decoration: none;
}

a:hover, .link:hover {
  text-decoration: underline;
  color: red;
}

img {
  width: 100%;
  object-fit: cover;
  height: auto;
}

.logo {
  display: inline-block;
}

@media(min-width: 320px) {
  .nav {
    display: none;
  }
  

  .hero-right {
    max-width: 60%;
    
  }

  .grid-spacebetween {
    margin-top: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }
  

  .width-1-1-sm {
    flex-basis: 100%;
  }
  
  .card-grid {
    flex-direction: row;
  }
 

}

@media(min-width: 640px) {
  .nav {
    display: block;
  }

  
}

@media(min-width: 960px) {

  .width-1-2-md {
    flex-basis: 50%;
  }

  
 

  .grid-spacebetween {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

@media(min-width: 1200px) {
  .width-1-3-lg {
    flex-basis: 33.33%
  }
}


